html {
  font-size: 10px;
  font-family: 'Quantico', sans-serif;
}


body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(270deg, orange, green, gray, pink);
  background-size: 800% 800%;
  animation: fondoAnimado 5s linear infinite;
}


h1 {
  font-size: 60px;
  text-align: center;
}

h2 {
  font-size: 30px;
  text-align: center;
}

p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}



body {
  width: 600px;
  margin: 0 auto;
  background-color: #d7d7d7;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  margin: 0;
  padding: 20px 0;
  color: #FF4500;
  text-shadow: 3px 3px 1px black;
}

img {
  display: block;
  margin: 0 auto;
}
body {
  font-family: 'Saira', sans-serif;
}

h1 {
  font-family: 'Quantico', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
  color: #111;
}

h1 {
  font-weight: 700;
  letter-spacing: -1px; /* más estilo Blonde */
}

h2 {
  font-weight: 400;
}

p, li {
  font-weight: 300;
}
